body{



}

#heading{
    text-align: center
}

#nav-bar{
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    width: 20%; 
    height: 100%; 
    position: fixed; 
    overflow: auto;
}

.nav {
    display: block; /* displays the items as blocks */
    color: white; /* sets the colour of the text within the nav bar items to white */
    background-color: rgb(128, 128, 128) ; /* sets the background colour of the items on the nav bar */
    padding: 16px 32px; /* defines the padding arround the text, this centers it within the box */
    text-decoration: none; /* defines the text as normal text */
    position: static; /* ensures that the element renders in order as it appears in the page */
    margin-top: 25px; /* sets the top margin to 25px */
    margin-bottom: 25px;
}